# Exercise 7: Reading Tabular Data into DataFrames

## Aim: Learn what DataFrames are and practice using them.

### Issues covered:
- Importing the `pandas` library
- Using `pandas` to load a simple CSV data set
- Get information about the DataFrames we make

## 1. Let's import `pandas` and make some DataFrames.

Import `pandas`, then create a dataframe using the `data/weather.csv` file and print it out.

Create a new dataframe which indexes by `Date` and print it.

##Â 2. Let's practice using some dataframe methods.

What is the memory usage of the dataframe in bytes?

In [4]:
import pandas as pd
weather_data = pd.read_csv('../data/weather.csv')
print(weather_data)

         Date   Time  Temp  Rainfall
0  2014-01-01  00:00  2.34      4.45
1  2014-01-01  12:00  6.70      8.34
2  2014-01-02  00:00 -1.34     10.25

What command can you use to find the dataframe's column names?

In [7]:
weather_data.describe()

           Temp   Rainfall
count  3.000000   3.000000
mean   2.566667   7.680000
std    4.024790   2.955791
min   -1.340000   4.450000
25%    0.500000   6.395000
50%    2.340000   8.340000
75%    4.520000   9.295000
max    6.700000  10.250000

Swap the rows and columns and `print` the result.

In [8]:
weather_data.T

                   0           1           2
Date      2014-01-01  2014-01-01  2014-01-02
Time           00:00       12:00       00:00
Temp            2.34         6.7       -1.34
Rainfall        4.45        8.34       10.25

Find the mean and standard deviation of the weather data.

In [12]:
import statistics
weather_data.mean()

/tmp/ipykernel_8133/4185053091.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  weather_data.mean()

Temp        2.566667
Rainfall    7.680000
dtype: float64

## 3. Extension: Some Dataframe Challenges

1. Find the first three rows of data in `data/americas_gdp.csv` using `head()`.

In [16]:
import pandas as pd

In [21]:
american_data = pd.read_csv('../data/americas_gdp.csv')

In [23]:
american_data.head(3)

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Americas,Argentina,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
1,Americas,Bolivia,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
2,Americas,Brazil,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825

2. Find the last 3 **columns** of data.

_Hint: You may need to change your view of the data then you can use `tail()`._

In [25]:
american_data.tail()

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
20,Americas,Puerto Rico,3081.959785,3907.156189,5108.344630,6929.277714,9123.041742,9770.524921,10330.989150,12281.341910,14641.587110,16999.433300,18855.606180,19328.70901
21,Americas,Trinidad and Tobago,3023.271928,4100.393400,4997.523971,5621.368472,6619.551419,7899.554209,9119.528607,7388.597823,7370.990932,8792.573126,11460.600230,18008.50924
22,Americas,United States,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.65309
23,Americas,Uruguay,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,7452.398969,8137.004775,9230.240708,7727.002004,10611.46299
24,Americas,Venezuela,7689.799761,9802.466526,8422.974165,9541.474188,10505.259660,13143.950950,11152.410110,9883.584648,10733.926310,10165.495180,8605.047831,11415.80569

3. Use `help(data_americas.to_csv)` to figure out how writing to a CSV file works.

In [27]:
help(american_data.to_csv)

Help on method to_csv in module pandas.core.generic:

to_csv(path_or_buf: 'FilePath | WriteBuffer[bytes] | WriteBuffer[str] | None' = None, sep: 'str' = ',', na_rep: 'str' = '', float_format: 'str | None' = None, columns: 'Sequence[Hashable] | None' = None, header: 'bool_t | list[str]' = True, index: 'bool_t' = True, index_label: 'IndexLabel | None' = None, mode: 'str' = 'w', encoding: 'str | None' = None, compression: 'CompressionOptions' = 'infer', quoting: 'int | None' = None, quotechar: 'str' = '"', line_terminator: 'str | None' = None, chunksize: 'int | None' = None, date_format: 'str | None' = None, doublequote: 'bool_t' = True, escapechar: 'str | None' = None, decimal: 'str' = '.', errors: 'str' = 'strict', storage_options: 'StorageOptions' = None) -> 'str | None' method of pandas.core.frame.DataFrame instance
    Write object to a comma-separated values (csv) file.

    Parameters
    ----------
    path_or_buf : str, path object, file-like object, or None, default None
        String, path object (implementing os.PathLike[str]), or file-like
        object implementing a write() function. If None, the result is
        returned as a string. If a non-binary file object is passed, it should
        be opened with `newline=''`, disabling universal newlines. If a binary
        file object is passed, `mode` might need to contain a `'b'`.

        .. versionchanged:: 1.2.0

           Support for binary file objects was introduced.

    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, default None
        Format string for floating point numbers.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.
    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : str
        Python write mode, default 'w'.
    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'utf-8'. `encoding` is not supported if `path_or_buf`
        is a non-binary file object.
    compression : str or dict, default 'infer'
        For on-the-fly compression of the output data. If 'infer' and '%s'
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', or '.zst' (otherwise no compression). Set to
        ``None`` for no compression. Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``} and other
        key-value pairs are forwarded to ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, or ``zstandard.ZstdDecompressor``, respectively. As an
        example, the following could be passed for faster compression and to create
        a reproducible gzip archive:
        ``compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1}``.

        .. versionchanged:: 1.0.0

           May now be a dict with key 'method' as compression mode
           and other entries as additional compression options if
           compression mode is 'zip'.

        .. versionchanged:: 1.1.0

           Passing compression options as keys in dict is
           supported for compression modes 'gzip', 'bz2', 'zstd', and 'zip'.

        .. versionchanged:: 1.2.0

            Compression is supported for binary file objects.

        .. versionchanged:: 1.2.0

            Previous versions forwarded dict entries for 'gzip' to
            `gzip.open` instead of `gzip.GzipFile` which prevented
            setting `mtime`.

    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    line_terminator : str, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\\n' for linux, '\\r\\n' for Windows, i.e.).
    chunksize : int or None
        Rows to write at a time.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.
    errors : str, default 'strict'
        Specifies how encoding and decoding errors are to be handled.
        See the errors argument for :func:`open` for a full list
        of options.

        .. versionadded:: 1.1.0

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib`` as header options. For other URLs (e.g.
        starting with "s3://", and "gcs://") the key-value pairs are forwarded to
        ``fsspec``. Please see ``fsspec`` and ``urllib`` for more details.

        .. versionadded:: 1.2.0

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Write DataFrame to an Excel file.

    Examples
    --------
    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

    Create 'out.zip' containing 'out.csv'

    >>> compression_opts = dict(method='zip',
    ...                         archive_name='out.csv')  # doctest: +SKIP
    >>> df.to_csv('out.zip', index=False,
    ...           compression=compression_opts)  # doctest: +SKIP

    To write a csv file to a new folder or nested folder you will first
    need to create it using either Pathlib or os:

    >>> from pathlib import Path  # doctest: +SKIP
    >>> filepath = Path('folder/subfolder/out.csv')  # doctest: +SKIP
    >>> filepath.parent.mkdir(parents=True, exist_ok=True)  # doctest: +SKIP
    >>> df.to_csv(filepath)  # doctest: +SKIP

    >>> import os  # doctest: +SKIP
    >>> os.makedirs('folder/subfolder', exist_ok=True)  # doctest: +SKIP
    >>> df.to_csv('folder/subfolder/out.csv')  # doctest: +SKIP

4. Try writing to a CSV file using the code below (giving your own filename). Take a look in the data folder and check it's there.
```
data_americas.to_csv('data/new_file_name.csv')
```

In [30]:
american_data.to_csv('../data/newfilechami.csv')

In [31]:
print(american_data)

   continent              country  gdpPercap_1952  gdpPercap_1957  \
0   Americas            Argentina     5911.315053     6856.856212
1   Americas              Bolivia     2677.326347     2127.686326
2   Americas               Brazil     2108.944355     2487.365989
3   Americas               Canada    11367.161120    12489.950060
4   Americas                Chile     3939.978789     4315.622723
5   Americas             Colombia     2144.115096     2323.805581
6   Americas           Costa Rica     2627.009471     2990.010802
7   Americas                 Cuba     5586.538780     6092.174359
8   Americas   Dominican Republic     1397.717137     1544.402995
9   Americas              Ecuador     3522.110717     3780.546651
10  Americas          El Salvador     3048.302900     3421.523218
11  Americas            Guatemala     2428.237769     2617.155967
12  Americas                Haiti     1840.366939     1726.887882
13  Americas             Honduras     2194.926204     2220.487682
14  Americas              Jamaica     2898.530881     4756.525781
15  Americas               Mexico     3478.125529     4131.546641
16  Americas            Nicaragua     3112.363948     3457.415947
17  Americas               Panama     2480.380334     2961.800905
18  Americas             Paraguay     1952.308701     2046.154706
19  Americas                 Peru     3758.523437     4245.256698
20  Americas          Puerto Rico     3081.959785     3907.156189
21  Americas  Trinidad and Tobago     3023.271928     4100.393400
22  Americas        United States    13990.482080    14847.127120
23  Americas              Uruguay     5716.766744     6150.772969
24  Americas            Venezuela     7689.799761     9802.466526

    gdpPercap_1962  gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  \
0      7133.166023     8052.953021     9443.038526    10079.026740
1      2180.972546     2586.886053     2980.331339     3548.097832
2      3336.585802     3429.864357     4985.711467     6660.118654
3     13462.485550    16076.588030    18970.570860    22090.883060
4      4519.094331     5106.654313     5494.024437     4756.763836
5      2492.351109     2678.729839     3264.660041     3815.807870
6      3460.937025     4161.727834     5118.146939     5926.876967
7      5180.755910     5690.268015     5305.445256     6380.494966
8      1662.137359     1653.723003     2189.874499     2681.988900
9      4086.114078     4579.074215     5280.994710     6679.623260
10     3776.803627     4358.595393     4520.246008     5138.922374
11     2750.364446     3242.531147     4031.408271     4879.992748
12     1796.589032     1452.057666     1654.456946     1874.298931
13     2291.156835     2538.269358     2529.842345     3203.208066
14     5246.107524     6124.703451     7433.889293     6650.195573
15     4581.609385     5754.733883     6809.406690     7674.929108
16     3634.364406     4643.393534     4688.593267     5486.371089
17     3536.540301     4421.009084     5364.249663     5351.912144
18     2148.027146     2299.376311     2523.337977     3248.373311
19     4957.037982     5788.093330     5937.827283     6281.290855
20     5108.344630     6929.277714     9123.041742     9770.524921
21     4997.523971     5621.368472     6619.551419     7899.554209
22    16173.145860    19530.365570    21806.035940    24072.632130
23     5603.357717     5444.619620     5703.408898     6504.339663
24     8422.974165     9541.474188    10505.259660    13143.950950

    gdpPercap_1982  gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  \
0      8997.897412     9139.671389     9308.418710    10967.281950
1      3156.510452     2753.691490     2961.699694     3326.143191
2      7030.835878     7807.095818     6950.283021     7957.980824
3     22898.792140    26626.515030    26342.884260    28954.925890
4      5095.665738     5547.063754     7596.125964    10118.053180
5      4397.575659     4903.219100     5444.648617     6117.361746
6      5262.734751     5629.915318     6160.416317     6677.045314
7      7316.918107     7532.924763     5592.843963     5431.990415
8      2861.092386     2899.842175     3044.214214     3614.101285
9      7213.791267     6481.776993     7103.702595     7429.455877
10     4098.344175     4140.442097     4444.231700     5154.825496
11     4820.494790     4246.485974     4439.450840     4684.313807
12     2011.159549     1823.015995     1456.309517     1341.726931
13     3121.760794     3023.096699     3081.694603     3160.454906
14     6068.051350     6351.237495     7404.923685     7121.924704
15     9611.147541     8688.156003     9472.384295     9767.297530
16     3470.338156     2955.984375     2170.151724     2253.023004
17     7009.601598     7034.779161     6618.743050     7113.692252
18     4258.503604     3998.875695     4196.411078     4247.400261
19     6434.501797     6360.943444     4446.380924     5838.347657
20    10330.989150    12281.341910    14641.587110    16999.433300
21     9119.528607     7388.597823     7370.990932     8792.573126
22    25009.559140    29884.350410    32003.932240    35767.433030
23     6920.223051     7452.398969     8137.004775     9230.240708
24    11152.410110     9883.584648    10733.926310    10165.495180

    gdpPercap_2002  gdpPercap_2007
0      8797.640716    12779.379640
1      3413.262690     3822.137084
2      8131.212843     9065.800825
3     33328.965070    36319.235010
4     10778.783850    13171.638850
5      5755.259962     7006.580419
6      7723.447195     9645.061420
7      6340.646683     8948.102923
8      4563.808154     6025.374752
9      5773.044512     6873.262326
10     5351.568666     5728.353514
11     4858.347495     5186.050003
12     1270.364932     1201.637154
13     3099.728660     3548.330846
14     6994.774861     7320.880262
15    10742.440530    11977.574960
16     2474.548819     2749.320965
17     7356.031934     9809.185636
18     3783.674243     4172.838464
19     5909.020073     7408.905561
20    18855.606180    19328.709010
21    11460.600230    18008.509240
22    39097.099550    42951.653090
23     7727.002004    10611.462990
24     8605.047831    11415.805690

In [38]:
print(american_data.iloc[1, 12)

Bolivia